body {
  background-color:white;
  width: 100%;
}

.jumbotron {
  background-image: url(https://www.huttonhotel.com/images/hero/partial/dt-broadway.jpg);
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  font-size: 18px;
}

h1 {
  font-family: serif;
}

#jumbotron_caption {
  color: white
}

#inputs_title {
  font-size:22px;
  font-weight:bold;
}

#user_inputs {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(34, 136, 184)
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
}

.map-width {
  width: 765px;
  height: 500px;
}