<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nashville Airbnb Price Predictor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
</head>

<body style="background-color:white; width: 100%;">
  <div class="container">
    <div class="navbar-header">
      <a href='https://eat.sleep.data.com'>
        <img src="Resources/logo.png" alt="Airbnb Price Predictor" id="logo">
      </a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://eat.sleep.data.com/host" style="font-size: 18px;">Hosting</a>
          </li>
          <li>
            <a href="https://eat.sleep.data.com/renter" style="font-size: 18px;">Renting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="jumbotron jumbotron-fluid" style="background-image: url(https://www.huttonhotel.com/images/hero/partial/dt-broadway.jpg); 
         height: 500px; background-size: 100%; background-repeat: no-repeat;">
        <h1 style="font-family: serif; color: white"><b></b></h1>
        <p style="color: white"><b>Get the most from your short term rental.</b></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <h1>Welcome to the ML Flask Example</h1>
        <a href="/predict">Predict</a>
        <a href="/info">Info</a>  
    </div>
  </div>
  <div class="container" >
    <div class="row">
      <p style="font-size: 22px; font-weight: bold;"><u>Listing Details</u></p>
        <div class="col-md-4" style="padding: 20px; border-radius: 10px; border: 2px solid rgb(34, 136, 184)">
            <form method="POST">
                <div class="form-group">
                    <label for="adress">Enter Address:</label>
                    <input type="text" placeholder="123 Broadway, Nashville, TN" id="adress" style="width: 250px;"/>
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="text" placeholder="01/01/2021" id="datetime" />
                </div>
                <div class="form-group">
                    <label>Test Input 1:</label>
                    <input type="number" name="input1" />
                </div>
                <div class="form-group">
                    <label>Test Input 2:</label>
                    <input type="number" name="input2"/>
                </div>
                <div class="form-group">         
                    <label for="listing_type">Property Type:</label>
                    <!-- <select id="selPropertyType"></select> -->
                    <select id="selPropertyType"; onchange="optionChanged(this.value)"></select>
                </div> 
                <div class="form-group">
                    <label for="room_type">Rooms Type:</label>
                    <!-- <select id="selRoomType"></select> -->
                    <select id="selRoomType"; onchange="optionChanged(this.value)"></select>
                </div>
                <div class="form-group">
                    <label for="number_of_bedrooms">Number of Bedrooms:</label>
                    <!-- <select id="selBedrooms"></select> -->
                    <select id="selBedrooms"; onchange="optionChanged(this.value)"></select>
                </div>
                <div class="form-group">
                    <label for="number_of_beds">Number of Beds:</label>
                    <!-- <select id="selBeds"></select> -->
                    <select id="selBeds"; onchange="optionChanged(this.value)"></select>
                </div>
                <div class="form-group">
                    <label for="number_of_bathrooms">Number of Bathrooms:</label>
                    <!-- <select id="selBaths"></select> -->
                    <select id="selBaths"; onchange="optionChanged(this.value)"></select>
                </div>
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
            <p>{{result}}</p>
        </div>
    </div>
  </div> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="charts.js"></script>

</body>

</html>