<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  <title>Nashville Airbnb Price Predictor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css">
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css">
  <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid" id="navbar-container">
    <div class="navbar-header">
      <a href='https://eat.sleep.data.com'></a>
      <img src="{{url_for('static', filename='logo.png')}}" alt="Airbnb Price Predictor" id="logo">
      <div class="container-fluid">
        <p id="caption"><b>Get the most from your short term rental.</b></p>
      </div>
    </div>
  <div class="container" style="height:450px"></div>
  <div class="container" id="description-container">
      <p id="description">Looking to list your short-term rental but don't know how much to charge? </br>
        -- Let us help! --</br>  Enter the details of your property below and we'll calculate the best listing price based on
      historical Airbnb data!</br>The best part?...It's free!!</p>
    </div>
  </div>
  <div class="container" style="height: 120px"></div>
  <div class="container" >
    <div id="user_inputs" class="col-md-4">
      <div class="row">
        <p id="inputs_title"><u>Listing Details</u></p>
      </div>
      <form action="" method="post">
        <div class="form-group">
          <label for="district">District:</label>
          <select name="selDistrict">
            <option value="other">1</option>
            <option value="other">2</option>
            <option value="other">3</option>
            <option value="other">4</option>
            <option value="other">5</option>
            <option value="other">6</option>
            <option value="other">7</option>
            <option value="other">8</option>
            <option value="other">9</option>
            <option value="other">10</option>
            <option value="other">11</option>
            <option value="other">12</option>
            <option value="other">13</option>
            <option value="other">14</option>
            <option value="other">15</option>
            <option value="other">16</option>
            <option value="other">17</option>
            <option value="other">18</option>
            <option value="19">19</option>
            <option value="other">20</option>
            <option value="other">21</option>
            <option value="other">22</option>
            <option value="other">23</option>
            <option value="other">24</option>
            <option value="other">25</option>
            <option value="other">26</option>
            <option value="other">27</option>
            <option value="other">28</option>
            <option value="other">29</option>
            <option value="other">30</option>
            <option value="other">31</option>
            <option value="other">32</option>
            <option value="other">33</option>
            <option value="other">34</option>
            <option value="other">35</option>
          </select>
        </div>
        <!-- <div class="form-group">         
          <label for="listing_type">Property Type:</label>
          <select name="selPropertyType">
            <option value="house">House</option>
            <option value="apartment">Apartment</option>
            <option value="condominium">Condo</option>
            <option value="townhouse">Townhouse</option>
            <option value="guest_suite">Guest Suite</option>
            <option value="loft">Loft</option>
            <option value="bungalow">Bungalow</option>
            <option value="guest_house">Guest House</option>
            <option value="other">Other</option>
          </select>
        </div>  -->
        <!-- <div class="form-group">
          <label for="room_type">Rooms Type:</label>
          <select name="selRoomType">
            <option value="entire_home">Entire Home/Apartment</option>
            <option value="private_room">Private Room</option>
            <option value="shared_room">Shared Room</option>
          </select>
        </div> -->
        <div class="form-group">
          <label for="accommodates">Accommodates:</label>
          <select name="selAccommodates">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="form-group">
          <label for="number_of_bedrooms">Number of Bedrooms:</label>
          <select name="selBedrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="number_of_beds">Number of Beds:</label>
          <select name="selBeds">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div> -->
        <div class="form-group">
            <label for="number_of_bathrooms">Number of Bathrooms:</label>
            <select name="selBaths">
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="3.5">3.5</option>
              <option value="4">4</option>
              <option value="4.5">4.5</option>
              <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
          <label for="host_listings_count">Number of Other Listings You Host(Enter 0 if this is your first listing):</label>
          <input type="text" name="host_listings_count">
        </div>
        <div class="form-group">
          <label for="security_deposit">Security Deposit:</label>
          <input type="text" name="security_deposit">
        </div>   
        <div class="form-group">
          <label for="cleaning_fee">Cleaning Fee:</label>
          <input type="text" name="cleaning_fee">
        </div>   
        <div class="form-group">
          <label for="reviews_ltm">Number of Reviews in Last 12 Months (0 if new listing):</label>
          <input type="text" name="reviews_ltm">
        </div>   
        <div class="form-group">
          <label for="host_days">Number of Days You have been Host(Enter 0 if this is your first listing):</label>
          <input type="text" name="host_days">
        </div>
        <div class="form-group">
          <label for="has_essentials">Have Essentials?</label>
          <input type="checkbox" name="essentials_chk" value='essentials'>
        </div>        
        <div class="container" style="height:10px"></div>
        <div class="col-md-8">
          <div class="row">
            <button type="submit" class="button button4">Calculate My Listing Price</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="col-md-8">
        <hr class="fancyLine"></hr>
          <p id="output-label">YOUR SUGGESTED LISTING PRICE IS:</p>
      </div>
    <div class="container">
      <div class="col-md-8">
        <p id="output">${{result}}</p>
      </div>
    <div class="container">
      <div class="col-md-8">
        <hr class="fancyLine"></hr>
        <p id="map-instructions">To find your district, enter the address of your rental in the map search bar, press Enter and then hover your mouse over the location marker.</p>
      </div>
      <div class="col-md-8">
        <div class="map-width" id="map"></div>
      </div>
    </div>
  </div>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
</body>

</html>